# Ignore these files

*.DS_Store
build.xml
build/
dist/
nbproject/ant-deploy.xml
nbproject/build-impl.xml
nbproject/genfiles.properties
nbproject/project.properties
src/java/com/queerartfilm/deprecated
src/java/com/queerartfilm/dao/deprecated
src/java/com/queerartfilm/film/deprecated
src/java/com/queerartfilm/series/deprecated
src/java/com/queerartfilm/web/deprecated
