/*
 * QAF Page and Content CSS styles.
*/
div#about, div#contact, div#press {
  margin-left: 20px;
  width: 500px;
}

#about ul {
  margin-bottom: 1em;
}
#about ul li {
  font-size: 80%;
}

#about p {
  max-width: 500px;
}

blockquote {
  position: relative;
  padding-bottom: 0;
}

blockquote:before {
    content: "\201C";
    margin-left: -0.6em;
}

blockquote:after {
   content: "\201D";
}

ul.press:first-child li:first-child h5 {
  padding-top: 0;
}

/*dt {
  float: left;
  clear: both;
  width: 202px;
  margin: 3px 10px 0px 0px;
  text-align: right;
  font-weight:bold;
  border: 1px solid orange;
}

dd {
  float: left;*/
  /*margin-left: 212px;*/
  /*clear: both;*/
/*}*/
