/*QAF Archive Styles*/

div#archive {
  width: 738px;
  margin-left: 10px;
  border-right: 1px dashed #000;
  margin-bottom: 20px;
  min-height: 400px;
}
ul#archive-list {
  margin-top: 20px;
  margin-left: 0px;
  padding-right: 10px;
  width: 736px;/* 728 + 8 extra to accomodate zoom out*/
}

li.archive-row {
  display: block;
  clear:both;

}
ul.archive-items {
  margin-left: 0px;
  display: inline;
}
li.archive-item {
  float: left;
  margin: 0;
  padding: 0;
  width: 180px;
  /*background-color: #ccc;*/
  display: block;
  border: 1px solid #fff;
  overflow: hidden;
}
li.archive-item img {
  width: 180px;
}
li.archive-item h6 {
  text-align: center;
}
#listing {
  width: 702px; /* = 735 - 10 - 1 - 20 - 2*/
  /*height: 500px;*/
  margin-left: 10px;
  border-left: 1px solid #000;
  padding-left: 20px;
  border-right: 1px dashed #000;
  overflow: auto;
}

#listing-header {
  position: relative;
  height: 270px;
  padding-right: 20px;
  text-align: right;
  /*overflow: hidden;*/
}

#listing-header-text, #listing-header-shadow{
  position: absolute;
  bottom: -5px;
  z-index: 10;
  margin-right: 490px;
  text-align: left;
  /*background-color: #fff;*/
}
#listing-header-shadow{
  /*position: absolute;*/
  left: 2px;
  bottom: -7px;
  z-index: 9;
  color: #fff;
}

#listing-content {
  margin-top: 20px;
  overflow: hidden;
}

/*  735 = (10 + 1 + 20) + 490 + 9 + 1 + 202 + (2) */
#listing-content-col {
  /*float: left;*/
  width: 460px;/*490px;*/
  padding-right: 9px;
  border-right: 1px solid #000;
  padding-bottom: 5000px;
  margin-bottom: -5000px;
  /*overflow: auto;*/
}



div#buy-tickets p {
  float: left;
  margin-left: 10px;
}
#purchase {
  float: left;
}
#purchase a {
  position: relative;
  top: -3px;
  width: 118px;
  height: 14px;
  margin: 0;
  padding: 4px 0 0 10px;
  /*font-size: 70%;*/
  /*font-weight: normal;*/
  /*line-height: 100%;*/
}

#more-info-col {
  float:right;
  /*width: 182px; 202px;*/
  width: 200px;
  margin: 0 20px 0 0px;
  padding-bottom: 5000px;
  margin-bottom: -5000px;
  border: 0px dotted lime;
  text-align: right;
  /*background-color: #fff;*/
}
#more-info {
  margin-top: 0px;
  border: 1px solid #000;
  padding: 4px 0 0 10px;
  height: 14px;
  font-size: 70%;
  font-weight: normal;
  line-height: 100%;
  color: #fff;
  background-color: #000;
  text-transform: uppercase;
  text-align: left;
}

#more-info-col img {
  margin-right: 15px;
}

#more-info-col ul {
  text-align: left;
  font-weight: bold;
  font-size: 90%;
}

#more-info-col ul li {
  padding-top:10px;
  /*padding: 10px 0;*/
  border-bottom: 1px solid #999;
}
#more-info-col ul li p {
  padding-bottom: 10px;
}

#more-info-col ul li p a {
  border: 0;
}
#more-info-col ul li.last {
  border: 0px;
}

#more-info-col object {
  padding-bottom: 10px;
  width: 200px;
}