/*QAF Archive Styles*/

div#archive {
  width: 738px;
  margin-left: 10px;
  border-right: 1px dashed #000;
  margin-bottom: 20px;
  min-height: 400px;
}
ul#archive-list {
  margin-top: 20px;
  margin-left: 0px;
  padding-right: 10px;
  width: 736px;/* 728 + 8 extra to accomodate zoom out*/
}

li.archive-row {
  display: block;
  clear:both;

}
ul.archive-items {
  margin-left: 0px;
  display: inline;
}
li.archive-item {
  float: left;
  margin: 0;
  padding: 0;
  width: 180px;
  /*background-color: #ccc;*/
  display: block;
  border: 1px solid #fff;
  overflow: hidden;
}
li.archive-item img {
  width: 180px;
}
li.archive-item h6 {
  text-align: center;
}
#listing {
  width: 702px; /* = 735 - 10 - 1 - 20 - 2*/
  /*height: 500px;*/
  margin-left: 10px;
  border-left: 1px solid #000;
  padding-left: 20px;
  border-right: 1px dashed #000;
  overflow: auto;
}

#listing-header {
  position: relative;
  height: 270px;
  padding-right: 20px;
  text-align: right;
  /*overflow: hidden;*/
}

#listing-header-text, #listing-header-shadow{
  position: absolute;
  bottom: -5px;
  z-index: 10;
  margin-right: 490px;
  text-align: left;
  /*background-color: #fff;*/
}
#listing-header-shadow{
  /*position: absolute;*/
  left: 2px;
  bottom: -7px;
  z-index: 9;
  color: #fff;
}

#listing-content {
  margin-top: 20px;
  overflow: hidden;
}

/*  735 = (10 + 1 + 20) + 490 + 9 + 1 + 202 + (2) */
#listing-content-col {
  /*float: left;*/
  width: 460px;/*490px;*/
  padding-right: 9px;
  border-right: 1px solid #000;
  padding-bottom: 5000px;
  margin-bottom: -5000px;
  /*overflow: auto;*/
}



div#buy-tickets p {
  float: left;
  margin-left: 10px;
}
#purchase {
  float: left;
}
#purchase a {
  position: relative;
  top: -3px;
  width: 118px;
  height: 14px;
  margin: 0;
  padding: 4px 0 0 10px;
  /*font-size: 70%;*/
  /*font-weight: normal;*/
  /*line-height: 100%;*/
}

#more-info-col {
  float:right;
  /*width: 182px; 202px;*/
  width: 200px;
  margin: 0 20px 0 0px;
  padding-bottom: 5000px;
  margin-bottom: -5000px;
  border: 0px dotted lime;
  text-align: right;
  /*background-color: #fff;*/
}
#more-info {
  margin-top: 0px;
  border: 1px solid #000;
  padding: 4px 0 0 10px;
  height: 14px;
  font-size: 70%;
  font-weight: normal;
  line-height: 100%;
  color: #fff;
  background-color: #000;
  text-transform: uppercase;
  text-align: left;
}

#more-info-col img {
  margin-right: 15px;
}

#more-info-col ul {
  text-align: left;
  font-weight: bold;
  font-size: 90%;
}

#more-info-col ul li {
  padding-top:10px;
  /*padding: 10px 0;*/
  border-bottom: 1px solid #999;
}
#more-info-col ul li p {
  padding-bottom: 10px;
}

#more-info-col ul li p a {
  border: 0;
}
#more-info-col ul li.last {
  border: 0px;
}

#more-info-col object {
  padding-bottom: 10px;
  width: 200px;
}
.film-still, .film-still .qaf-film  {
    width: 180px;
    height: 86px;
    display: block;
}

.film-still {
    background-image: url(/images/qaf-archive-sprite.jpg);
    background-repeat: no-repeat;
}
.i-shot-andy-warhol .film-still {
    background: url(/images/qaf-2014-sprite.jpg) 0 0 no-repeat;
}
.aggressives .film-still {
    background: url(/images/qaf-2014-sprite.jpg) -180px 0 no-repeat;
}
.song-sung-blue .film-still {
    background: url(/images/qaf-2014-sprite.jpg) -360px 0 no-repeat;
}
.rebecca .film-still {
    background: url(/images/qaf-2014-sprite.jpg) -540px 0 no-repeat;
}
.over-the-edge .film-still {
    background-position: 0 -1204px
}
.dancer-in-the-dark .film-still {
    background-position: -180px -1204px;
}
.victim .film-still {
    background-position: -360px -1204px;
}
.law-of-desire .film-still {
    background-position: -540px -1204px;
}
.ms-45 .film-still {
    background-position: 0 -1118px
}
.performance .film-still {
    background-position: -180px -1118px;
}
.harold-and-maude .film-still {
    background-position: -360px -1118px;
}
.my-beautiful-laundrette .film-still {
    background-position: -540px -1118px;
}
.set-it-off .film-still {
    background-position: -360px -1032px
}
.brother-from-another-planet .film-still {
    background-position: -180px -1032px
}
.three-on-a-match-and-bubbles .film-still {
    background-position: 0 -1032px
}
.annie .film-still {
    background-position: 0 -946px
}
.norman-is-that-you .film-still {
    background-position: -180px -946px;
}
.ashik-kerib .film-still {
    background-position: -360px -946px;
}
.jules-and-jim .film-still {
    background-position: -540px -946px;
}
.rope .film-still {
    background-position: 0 -860px;
}
.i-could-go-on-singing .film-still {
    background-position: -180px -860px;
}
.salo-or-the-120-days-of-sodom .film-still {
    background-position: -360px -860px;
}
.thundercrack .film-still {
    background-position: -540px -860px;
}
.killing-of-sister-george .film-still {
    background-position: 0 -774px;
}
.postcards-from-america .film-still {
    background-position: -180px -774px;
}
.runaway-train .film-still {
    background-position: -360px -774px;
}
.come-back-to-the-five-and-dime-jimmy-dean-jimmy-dean .film-still {
    background-position: -540px -774px;
}
.servant .film-still {
    background-position: 0 -688px;
}
.pay-it-no-mind-marsha-p-johnson .film-still {
    background-position: -180px -688px;
}
.desperately-seeking-susan .film-still {
    background-position: -360px -688px;
}
.saturday-night-and-sunday-morning .film-still {
    background-position: -540px -688px;
}
.bitter-tears-of-petra-von-kant .film-still {
    background-position: 0 -602px;
}
.all-that-jazz .film-still {
    background-position: -180px -602px;
}
.paris-is-burning .film-still {
    background-position: -360px -602px;
}
.johanna-darc-of-mongolia .film-still {
    background-position: -540px -602px;
}
.desert-hearts .film-still {
    background-position: 0 -516px;
}
.pink-narcissus .film-still {
    background-position: -180px -516px;
}
.alices-restaurant .film-still {
    background-position: -360px -516px;
}
.outsiders-directors-cut .film-still {
    background-position: -540px -516px;
}
.one-sings-the-other-doesnt .film-still {
    background-position: 0 -430px;
}
.if .film-still {
    background-position: -180px -430px;
}
.thief-of-bagdad .film-still {
    background-position: -360px -430px;
}
.films-of-act-up .film-still {
    background-position: -540px -430px;
}
.funeral-parade-of-roses .film-still {
    background-position: 0 -344px;
}
.faster-pussycat-kill-kill .film-still {
    background-position: -180px -344px;
}
.mademoiselle .film-still {
    background-position: -360px -344px;
}
.times-square .film-still {
    background-position: -540px -344px;
}

.born-in-flames .film-still {
    background-position: 0 -258px;
}
.portrait-of-jason .film-still {
    background-position: -180px -258px;
}
.lost-films-of-charles-ludlam .film-still {
    background-position: -360px -258px;
}
.devils .film-still {
    background-position: -540px -258px;
}

.group .film-still {
    background-position: 0 -172px;
}
.tropical-malady .film-still {
    background-position: -180px -172px;
}
.entertaining-mr-sloane .film-still {
    background-position: -360px -172px;
}
.so-evil-my-love .film-still {
    background-position: -540px -172px;
}
.je-tu-il-elle .film-still {
    background-position: 0 -86px;
}
.tongues-untied .film-still {
    background-position: -180px -86px;
}
.tree-grows-in-brooklyn .film-still {
    background-position: -360px -86px;
}
.queer-unavailable .film-still {
    background-position: -540px -86px;
}
.d8-12 .film-still {
    background-position: 0 0;
}
.blue .film-still {
    background-position: -180px 0;
}
.blood-of-a-poet .film-still {
    background-position: -360px 0;
}
